.section-skill {
    position: relative;
    padding: 10px 0;
    width: 100%;
}

@media screen and (min-width: 1220px) {
    .section-skill {
        width: 48%;
    }
}

.section-skill.detail {
    opacity: 0;
    transition: 0.5s linear;
    text-align: center;
}

.section-skill .button-back {
    appearance: none;
    background: transparent;
    color: #1a5791;
    margin: 30px auto 0;
    padding: 10px 15px;
    border: 0;
    font-size: 14px;
}

.section-skill .section-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: left;
}

.section-skill .section-content {
    margin-top: 20px;
    position: relative;
    text-align: left;
}

.section-skill .section-content ul {
    margin-top: 0;
    padding: 10px 0 10px 40px;
}

.section-skill .section-content > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding: 0;
    list-style: none;
}

.section-skill .section-content .section-details {
    display: none;
}

.single-section-wrapper {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px 0;
    border: 2px solid #1a5791;
    background: #1a5791;
    color: #ffffff;
    transition: 0.25s linear;
    border-radius: 20px;
    text-align: center;
}

.single-section-wrapper:after {
    position: absolute;
    right: 15px;
    top: 8px;
    color: #ffffff;
}

.single-section-wrapper.more,
.single-section-wrapper.less {
    cursor: pointer;
}

.single-section-wrapper.more:after {
    content: '+';
}
.single-section-wrapper.less {
    background: #ffffff;
    color: #1a5791;
}
.single-section-wrapper.less:after {
    content: '-';
    color: #1a5791;
}

.single-section-wrapper a {
    text-decoration: none;
}

.single-section-wrapper .section-info {
    color: #ffffff;
    font-size: 16px;
}

.single-section-wrapper .name {
    padding: 0 20px;
}

.single-section-wrapper .ranking {
    display: none;
}
